<div class="container">
<div class="heading">
<h1 class="text-center"> Weather Information </h1>
</div>
<div class="selectArea">
  <span> Start Month</span>&nbsp;
  <mat-form-field>
  <mat-select  [(ngModel)]="strtmonSelected" #id1 (selectionChange)="monStart(id1.value,id2.value,id3.value)">
    <mat-option *ngFor="let month of months" [value]="month.id">{{month.month}}</mat-option>
  </mat-select>
</mat-form-field> &nbsp;

  <span>  End Month</span>&nbsp;
  <mat-form-field>
  <mat-select  [(ngModel)]="endmonSelected" #id2 (selectionChange)="monStart(id1.value,id2.value,id3.value)">
    <mat-option *ngFor="let month of months" [value]="month.id">{{month.month}}</mat-option>
  </mat-select >
</mat-form-field> &nbsp;
   <span>  Year</span>&nbsp;
  <mat-form-field>
  <mat-select [(ngModel)]="yearSelected" #id3 (selectionChange)="monStart(id1.value,id2.value,id3.value)" >
    <mat-option *ngFor="let year of actyear" [value]="year">{{year}}</mat-option>
  </mat-select >
</mat-form-field>
</div>



<div class="chart" *ngIf="chart">
  <canvas id="canvas">{{ chart }}</canvas>
</div>

<!-- 
<div class="graphData">
<p>x-axis: Month</p>
<p>y-axis: Value</p> 
<p>year: {{yearSelected}}</p> 
<p>start month: {{}}</p>
<p>end month: {{}}</p>
</div> -->
</div>